*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/
/.idea/codeStyles
/.idea/assetWizardSettings.xml
.idea/dictionaries

.DS_Store
/build
/captures
.externalNativeBuild

/local_cfg